<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>GLS</string>
		<key>name</key>
		<string>Glucose</string>
		<key>icon</key>
		<string>FeatureBGM</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>glucoseMonitoring</string>
		<key>uuid</key>
		<string>00001808-0000-1000-8000-00805F9B34FB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BLS</string>
		<key>name</key>
		<string>Blood Pressure</string>
		<key>icon</key>
		<string>FeatureBPM</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>bloodPressureMonitoring</string>
		<key>uuid</key>
		<string>00001810-0000-1000-8000-00805F9B34FB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CSCS</string>
		<key>name</key>
		<string>Cycling Speed and Cadence</string>
		<key>icon</key>
		<string>FeatureCSC</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>cyclingSensor</string>
		<key>uuid</key>
		<string>00001816-0000-1000-8000-00805F9B34FB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HRS</string>
		<key>name</key>
		<string>Heart Rate</string>
		<key>icon</key>
		<string>FeatureHRS</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>heartRateMonitor</string>
		<key>uuid</key>
		<string>0000180D-0000-1000-8000-00805F9B34FB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HTS</string>
		<key>name</key>
		<string>Health Thermometer</string>
		<key>icon</key>
		<string>FeatureHTS</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>healthThermometer</string>
		<key>uuid</key>
		<string>00001809-0000-1000-8000-00805F9B34FB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RSCS</string>
		<key>name</key>
		<string>Running Speed and Cadence</string>
		<key>icon</key>
		<string>FeatureRSAC</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>runningSensor</string>
		<key>uuid</key>
		<string>00001814-0000-1000-8000-00805F9B34FB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CGMS</string>
		<key>name</key>
		<string>Continuous Glucose</string>
		<key>icon</key>
		<string>FeatureCGM</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>continuousGlucoseMonitor</string>
		<key>uuid</key>
		<string>0000181F-0000-1000-8000-00805F9B34FB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Proximity</string>
		<key>icon</key>
		<string>FeatureProximity</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>proximity</string>
		<key>uuid</key>
		<string>00001802-0000-1000-8000-00805F9B34FB</string>
	</dict>
</array>
</plist>
