<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>UART</string>
		<key>name</key>
		<string>Universal Asynchronous Receiver/Transmitter</string>
		<key>icon</key>
		<string>FeatureUART</string>
		<key>info</key>
		<string>This profile allows you to connect to a device that support Nordic&apos;s UART service. The service allows you to send and receive String messages.\n\nThe main screen contains 9 programmable buttons. Use the Edit button to edit a command or an icon assigned to each button. Unused buttons may be hidden.\n\nTap the Show Log button to see the conversation or to send a custom message.</string>
		<key>id</key>
		<string>uart</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DFU</string>
		<key>name</key>
		<string>Device Firmware Upgrade</string>
		<key>icon</key>
		<string>FeatureDFU</string>
		<key>info</key>
		<string></string>
		<key>id</key>
		<string>deviceFirmwareUpgrade</string>
	</dict>
</array>
</plist>
