//
//  UART.xcconfig
//  nRF Toolbox
//
//  Created by Nick Kibysh on 01/09/2020.
//  Copyright © 2020 Nordic Semiconductor. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "../../Pods/Target Support Files/Pods-UART/Pods-UART.debug.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(inherited).UART
