//
//  Config.xcconfig
//  nRF Toolbox
//
//  Created by Nick Kibysh on 17/08/2020.
//  Copyright © 2020 Nordic Semiconductor. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.nordicsemi.nRF-Toolbox
PRODUCT_NAME = nRF Toolbox
